<div class="card" >
    <img src="/images/Menu/{{imageUrl}}"  class="card-img-top" alt="Image of {{title}}">
     <div class="card-body">
         <h5 class="card-title fs-3">{{title}}</h5>
         <p class="card-text fs-4">{{includes}}</p>
         <div class="price d-flex flex-row-reverse"><a class="px-2 fs-4" href="" >{{price}}</a></div>
    </div>
           
 </div>